.btn-white,
.btn-blue
  display: block
  text-decoration: none
  transition: $trans-main

.btn-white
  background: $color-white
  border-radius: 2px
  border: 1px solid $color-blue
  color: $color-blue
  @include haf()
    background: $color-blue
    color: $color-white
    transition: $trans-main

.btn-blue
  background: $color-blue
  color: $color-white
  border-radius: 2px
  border: 1px solid $color-white
  @include haf()
    color: $color-blue
    background: $color-white
    transition: $trans-main

.btn-small
  padding: 9px 20px
  font-weight: 400
  text-align: center

.btn-big
  padding: 15px 20px
  font-weight: 700
  text-align: center