.contacts
	&__wrap
		position: relative
		a
			display: block
	&__phone
		font-size: 16px
		font-weight: 700
		a
			text-decoration: none

	&__private
		float: left
		margin: 10px 0 0 60px

	&__group
		float: right
		margin: 16px -15px 0 0
		& > div
			display: inline-block

	&__mail
		float: right
		margin: 10px -15px 0 0

	&__dev
		float: right
