.dropdown
	&__phone
		position: relative
		&-wrap
			border-radius: 50%
			background: $color-grey-light
			width: 20px
			height: 20px
			position: relative
			margin-bottom: -5px
		ul
			display: none

		&:hover
			ul
				display: block
				position: absolute
				top: 20px
				left: -196px
				width: 220px
				height: 170px
				background: $color-white-grey
				z-index: 10
				&:before
					content: ""
					position: absolute
					top: -15px
					right: 0
					@include triangle((to top ), 28px,28px, $color-white-grey)
				li
					padding: 15px 25px
					.ico
						margin: 0 10px -5px
					a
						Font-Size: 16px
						Line-Height: 19px
						text-decoration: none
