footer
	margin-top: 50px
	padding: 19px 0 2px 0
	background: $color-white-grey
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05)

	.ico.rotate90
		transform: rotate(270deg)
		top: 5px

	.contacts__group
		float: unset
		.dropdown__phone,
		.contacts__phone,
		.contacts__facebook
			float: right
		.facebook
			left: 55px

	.contacts__wrap
		height: 40px
		width: 100%
		a
			float: right

	.dropdown
		&__phone
			&:hover
				ul
					top: -200px
					left: -196px
					&:before
						content: ""
						top: 93%
						right: 0
						@include triangle((to bottom), 28px,28px, $color-white-grey)

