.main
	position: relative
	height: 500px
	max-height: 500px
	width: 100%
	overflow: hidden
	//&__img
		position: absolute
		left: 50%
		transform: translateX(-50%)
	&__wrap
		position: absolute
		width: 100%
		top: 23%
		left: 50%
		transform: translate(-50%)

		h1
			font-size: 57px
			line-height: 67px
			margin-bottom: .32em
			&:after
				content: ""
				display: block
				margin: 13px auto 0 auto
				height: 2px
				background: $color-white
				width: 120px

		h1, h2
			color: $color-white
			text-align: center

		h2
			margin: 0em 0 0.9em
			font-weight: 500

		.btn-blue
			border: unset
			max-width: 200px
			margin: 0 auto

	.parallax-image
		img
			position: absolute
			top: -230px
			left: 50%
			transform: translateX(-50%)
