nav
	margin: 0 auto
	background: $color-white
	transition: $trans-main/2

	ul
		display: flex
		max-width: 1250px
		margin: 0 auto
		height: 57px
	li
		position: relative
		flex: 1 0 auto
		flex-grow: 1
		text-align: center
		align-self: stretch
		& + li
			&:before
				content: "|"
				position: absolute
				color: $color-grey-light-light
				left: -3px
				top: 50%
				transform: translateY(-52%)

		a
			position: relative
			text-transform: uppercase
			text-decoration: none
			font-size: 16px
			line-height: 57px
			display: block
			&:before
				content: ""
				transition: $trans-main
				position: absolute
				border-top: 1px solid $color-blue
				left: 50%
				width: 0
				display: block
			&:hover, &:focus
				color: $color-blue
				&:before
					content: ""
					transition: $trans-main
					border-top: 1px solid $color-blue
					left: 0
					width: 100%
					display: block

@media only screen and (min-width: 768px)
	nav
		&.nav__fixed
			transition: $trans-main/2
			position: fixed
			top: 0
			left: 0
			height: 57px
			width: 100%
			z-index: 10
			background: $color-white
			box-shadow: 0 2px 4px rgba($color-black, 0.05)
