.news
	.btn-white
		max-width: 190px
		margin: 20px auto 0 auto

	&__wrap
		position: relative
		padding-bottom: 25px
		margin-bottom: 25px
		a
			transition: $trans-main
			font-size: 16px
			cursor: pointer
			display: inline
			border-bottom: 1px solid $color-white
		&:before
			content: ""
			display: block
			position: absolute
			left: 50%
			top: -25px
			transition: $trans-main
			//margin: 20px
			width: 0
			height: 2px
			background: $color-white
		&:hover, &:focus
			transition: $trans-main
			box-shadow: 0px 14px 24px rgba($color-black, 0.05)
			a
				transition: $trans-main
				cursor: pointer
				color: $color-blue
				border-bottom: 1px solid $color-blue

			&:before
				content: ""
				transition: $trans-main
				left: 0
				//margin: 20px
				width: 100%
				height: 2px
				background: $color-blue

	&__date
		margin-top: 40px
		text-align: center
		color: $color-grey-light

	&__txt
		text-align: center
		padding: 20px


