.production
	.ico
		width: 62px
		height: 62px

	&__wrap
		display: flex
		flex-wrap: wrap
		align-self: stretch
		flex: 1 0 auto
		width: 100%
		margin-top: 5px
		margin-bottom: 15px
		padding: 25px 25px 5px 25px
		background: $color-white
		border: 1px solid $color-grey-light
		box-sizing: border-box
		box-shadow: 0px 1px 1px rgba($color-black, 0.05)
		transition: $trans-main

		& + .production__wrap
			margin-left: 0

		&:hover
			border: 1px solid $color-blue

	&__wrap-img
		float: left
		width: 20%

	&__wrap-txt
		width: 80%
		float: right
		padding-left: 30px

	&__wrap-title
		font-size: 16px
		text-transform: uppercase
		font-weight: 700

	&__wrap-menu
		display: block
		a
			line-height: 36px
			text-decoration: none
			transition: $trans-main
			border-bottom: 1px solid transparent
			@include haf
				transition: $trans-main
				color: $color-blue
				border-bottom: 1px solid $color-blue

@media only screen and (min-width: 768px)
	.production
		&__wrap-menu
			li
				display: inline-block

@media only screen and (min-width: 1050px)
	.production
		&__wrap
			width: auto
			& + .production__wrap
				margin-left: 25px

		&__wrap-menu
			li
				display: list-item

