.logo
	width: 258px
	height: 77px

.ico
	width: 20px
	height: 20px
	fill: none
	&.blue
		color: $color-blue
	&.user
		width: 12px
		height: 12px
		margin: 0 5px -2px
	&.facebook
		position: absolute
		top: 2px
		left: -15px
	&.phone
		margin: 0 15px -6px
	&.chevron-right
		position: absolute
		width: 4px
		height: 8px
		left: calc(50% - 2px)
		top: 7px
	&.glyanec-logo
		margin: 0 5px -6px

	&.rotate90
		display: block
		transform: rotate(90deg)

.cart
	float: right
	position: relative
	margin: 20px
	width: 44px

	a
		display: block

	.ico
		display: block
		width: 44px
		height: 44px
		fill: none
	&__info
		position: absolute
		right: -20px
		top: -10px
		background: $color-blue
		color: $color-white
		border-radius: 50%
		width: 30px
		height: 30px
		line-height: 30px
		text-align: center
