.about
	.grid-container
		.grid-x
			.cell.small-12
				h2.heading.
					О нас

		.grid-x
			.cell.small-12
				h3.heading__sub.
					Оперативная печать полиграфии от 1 дня!

		.grid-x
			.cell-small-12
				p.
					Перед долгим заплывом намажьтесь солнцезащитным кремом.
					Вода не спасает от вредного излучения, оно проникает и
					на глубину 1 м.
				p.
					Прежде чем отправиться на пляж, съешьте что-нибудь
					солененькое или выпейте чай с лимоном. Считается,
					что тем самым вы предотвратите потерю важных минеральных
					веществ, которые покидают тело вместе с потом, а загар
					при этом ляжет ровнее. Находясь на солнце, следует
					больше двигаться — плавать, делать гимнастику,
					играть в мяч и т.д. Лучше ходить босиком, чем в
					тапочках. Не рекомендуется покрывать ногти лаком,
					пусть они отдохнут и получат солнечные лучи и воздух.
