footer
	.grid-container
		.grid-x
			.cell.small-12.medium-6.large-3
				+svg("logo").logo
				.copyright
					a(href="#")
						| 2018 — Все права защищены
			.cell.small-12.medium-6.large-3
				.slogan
					p.
						Качественная оперативная цифровая,
						широкоформатная и сувенирная полиграфия!
					p.
						Работаем с 9 до 18, вс и сб выходные
			.cell.small-12.medium-6.large-3
				.footer__menu
					.grid-x
						.cell.small-6
							ul
								li
									a(href="#")
										| Главная
								li
									a(href="#")
										| Продукция
								li
									a(href="#")
										| Доставка и оплата

						.cell.small-6
							ul
								li
									a(href="#")
										| Новости
								li
									a(href="#")
										| База знаний
								li
									a(href="#")
										| О нас

			.cell.small-12.medium-6.large-3
				.contacts__wrap.contacts__group
					.contacts__facebook
						a(href="")
							+svg("facebook").ico.blue.facebook

					.dropdown__phone
						.dropdown__phone-wrap
							+svg("chevron-right").ico.chevron-right.rotate90
						ul
							li
								a(href="#")
									+svg("vatafon").ico
									| (099) 485-54-18
							li
								a(href="#")
									+svg("k-star").ico
									| (099) 485-54-18
							li
								a(href="#")
									+svg("life").ico
									| (099) 485-54-18
					.contacts__phone
						a(href="#")
							+svg("phone").ico.phone
							| (044) 331-40-42

				.contacts__wrap
					a(href="#")
						| Контакты
				.contacts__wrap.contacts__dev
					a(href="#")
						+svg("glyanec-logo").ico.glyanec-logo
						| Глянец — Разработка сайтов


