header
	.grid-container
		.grid-x
			.cell.small-12.medium-6.large-4.xlarge-3
				+svg("logo").logo
			.cell.small-12.medium-5.large-5.xlarge-4
				.slogan
					p.
						Качественная оперативная цифровая,
						широкоформатная и сувенирная полиграфия!
					p
						strong.
							Работаем с 9 до 18, вс и сб выходные

			.cell.small-6.xlarge-4
				.contacts__wrap.contacts__private
					a(href="")
						+svg("user").ico.blue.user
						| Личный кабинет

				.contacts__wrap.contacts__mail
					a(href="#")
						| maket@test-vertka.ua

				.contacts__wrap.contacts__group
					.contacts__facebook
						a(href="")
							+svg("facebook").ico.blue.facebook
					.contacts__phone
						a(href="#")
							+svg("phone").ico.phone
							| (044) 331-40-42

					.dropdown__phone
						.dropdown__phone-wrap
							+svg("chevron-right").ico.chevron-right.rotate90
						ul
							li
								a(href="#")
									+svg("vatafon").ico
									| (099) 485-54-18
							li
								a(href="#")
									+svg("k-star").ico
									| (099) 485-54-18
							li
								a(href="#")
									+svg("life").ico
									| (099) 485-54-18

			.cell.small-6.xlarge-1
				.cart
					a(hfer="www.google.com.ua")
						+svg("shopping-cart").ico.shopping-cart.blue
						span.cart__info
							| 3
