.main.add-nav
	.main__img
		.parallax-image
			img(src="images/bg-main-img1.jpg")

	.main__wrap
		.grid-container
			.grid-x
				.cell.small-12
					h1
						| Оперативная печать полиграфии от 1 дня!
					h2
						| Доставка в любой город Украины
					a(href="#").btn-blue.btn-big
						| Сделать заказ
