nav
	.grid-x
		.cell.small-12
			.toggle-nav__bubble
				.toggle-nav
					span
					span
					span
					span
			.navigation__wrapper
				ul.navigation
					li
						a(href="#")
							| Главная
					li
						a(href="#")
							| Продукция
					li
						a(href="#")
							| Доставка и оплата
					li
						a(href="#")
							| Новости
					li
						a(href="#")
							| База знаний
					li
						a(href="#")
							| О нас
					li
						a(href="#")
							| Контакты
					li
						a(href="")
							+svg("search").ico
