.news
	.grid-container
		.grid-x
			.cell.small-12
				h2.heading.
					Новости

			.cell.small-12.large-4
				.news__wrap
					.news__date.
						14 марта 2018
					.news__txt
						a.
							Оазисное земледелие поднимает
							культурный субэкваториальный
							климат, там же можно с палками

			.cell.small-12.large-4
				.news__wrap
					.news__date.
						14 марта 2018
					.news__txt
						a.
							Оазисное земледелие поднимает
							культурный субэкваториальный
							климат, там же можно с палками

			.cell.small-12.large-4
				.news__wrap
					.news__date.
						14 марта 2018
					.news__txt
						a.
							Оазисное земледелие поднимает
							культурный субэкваториальный
							климат, там же можно с палками

		.grid-x
			.cell.small-12
				a(href="#").btn-white.btn-small
					| Смотреть все новости
