.production
	.grid-container
		.grid-x
			.cell.small-12
				h2.heading.
					Продукция

			.production__wrap
				.production__wrap-img
					+svg("blank-page").ico
				.production__wrap-txt
					.production__wrap-title
						| Офисная продукция
					.production__wrap-menu
						ul
							li
								a(href="#")
									| Визитки
							li
								a(href="#")
									| Конверты
							li
								a(href="#")
									| Папки
							li
								a(href="#")
									| Книги
							li
								a(href="#")
									| Блокноты
							li
								a(href="#")
									|
							li
								a(href="#")
									| Фирменные бланки

			.production__wrap
				.production__wrap-img
					+svg("road-map").ico
				.production__wrap-txt
					.production__wrap-title
						| Рекламная продукция
					.production__wrap-menu
						.grid-x
							.cell.small-6
								ul
									li
										a(href="#")
											| Листовки
									li
										a(href="#")
											| Флаера
									li
										a(href="#")
											| Буклеты
									li
										a(href="#")
											| Календари
									li
										a(href="#")
											| Блокноты
							.cell.small-6
								ul
									li
										a(href="#")
											| Плакаты
									li
										a(href="#")
											| Баннеры
									li
										a(href="#")
											| Магниты
									li
										a(href="#")
											| Наклейки

			.production__wrap
				.production__wrap-img
					+svg("e-reader").ico
				.production__wrap-txt
					.production__wrap-title
						| Для бизнеса
					.production__wrap-menu
						ul
							li
								a(href="#")
									| Каталоги
							li
								a(href="#")
									| Журналы
							li
								a(href="#")
									| Дисконтные карты
							li
								a(href="#")
									| Бейджи
							li
								a(href="#")
									| Гарантиныйные наклейки
