extends pug/mybase

append vars
    //- ...

block content

    // header
    include pug/partials/header
    // end header

    // menu
    include pug/partials/menu
    // end menu

    // main
    include pug/partials/main
    // end main

    // production
    include pug/partials/production
    // end

    // about
    include pug/partials/about
    // end

    // news
    include pug/partials/news
    // end

    // footer
    include pug/partials/footer
    // end footer
