*,
*::before,
*::after
	box-sizing: inherit

html
	box-sizing: border-box
	font-family: $font

body
	font-size: 14px
	font-family: $font
	color: $color-grey
	margin: 0 auto
	max-width: 1920px
	overflow-x: hidden

h1, h2, h3, h4, h5, h6
	font-family: $font
	color: $color-grey

h1
	font-size: 36px

h2
	font-size: 24px

h3
	font-size: 18px

h4
	font-size: 14px

h5
	font-size: 14px

h6
	font-size: 14px

.heading
	line-height: normal
	font-size: 36px
	text-align: center
	display: block
	&__sub
		line-height: normal
		font-size: 24px
		text-align: center
		display: block

ul
	margin-left: 0
	padding-left: 0
	list-style: none

a
	color: $color-grey
	transition: $trans-main
	@include haf
		color: $color-grey
		transition: $trans-main

strong
	font-weight: 700
