@font-face
  font-family: "ClearSans"
  src: url("../fonts/ClearSansRegular/ClearSansRegular.woff")
  font-style: normal
  font-weight: 400

@font-face
  font-family: "ClearSans"
  src: url("../fonts/ClearSansBold/ClearSansBold.woff")
  font-style: normal
  font-weight: 700

@font-face
  font-family: "ClearSans"
  src: url("../fonts/ClearSansItalic/ClearSansItalic.woff")
  font-style: italic
  font-weight: 400

@font-face
  font-family: "ClearSans"
  src: url("../fonts/ClearSansLight/ClearSansLight.woff")
  font-style: normal
  font-weight: 200

@font-face
  font-family: "ClearSans"
  src: url("../fonts/ClearSansMedium/ClearSansMedium.woff")
  font-style: normal
  font-weight: 300

@font-face
  font-family: "ClearSans"
  src: url("../fonts/ClearSansBoldItalic/ClearSansBoldItalic.woff")
  font-style: italic
  font-weight: 700

@font-face
  font-family: "ClearSans"
  src: url("../fonts/ClearSansMediumItalic/ClearSansMediumItalic.woff")
  font-style: italic
  font-weight: 300
